{% extends 'news/base.html' %}
{% block title %}Log out{% endblock %}

{% block content %}
<section id="contentSection">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3">
            <div class="left_content">
                <h2>Chiqish</h2>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-theme">Kirish</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}