# Python / Virtual Environment
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class

# Environment variables (Maxfiy kalitlar)
.env

# Database (Lokal ma'lumotlar bazasi)
db.sqlite3

# Static & Media (Lokal fayllar)
staticfiles/
media/

# IDE va OS fayllari
.vscode/
.idea/
.DS_Store
*.swp