{% extends 'news/base.html' %}
{% block title %}Email yuborildi{% endblock %}

{% block content %}
<section id="contentSection">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3">
            <div class="left_content" style="text-align: center; padding: 40px;">
                <i class="fa fa-envelope" style="font-size: 60px; color: green;"></i>
                <h2>Email yuborildi!</h2>
                <p>Parolni tiklash uchun havola emailingizga yuborildi.</p>
                <p>Emailingizni tekshiring va havolaga bosing.</p>
                <a href="{% url 'login' %}" class="btn btn-theme">Loginga qaytish</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}