{% extends 'news/base.html' %}
{% block title %}Parol tiklandi{% endblock %}

{% block content %}
<section id="contentSection">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3">
            <div class="left_content" style="text-align: center; padding: 40px;">
                <i class="fa fa-check-circle" style="font-size: 60px; color: green;"></i>
                <h2>Parol muvaffaqiyatli tiklandi!</h2>
                <p>Endi yangi parolingiz bilan tizimga kirishingiz mumkin.</p>
                <a href="{% url 'login' %}" class="btn btn-theme">Kirish</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}