{% extends 'news/base.html' %}
{% load static %}

{% block title %}Parol almashtirildi{% endblock title %}

{% block content %}
<section id="contentSection">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3">
            <div class="left_content" style="text-align: center; padding: 40px;">
                <i class="fa fa-check-circle" style="font-size: 60px; color: green;"></i>
                <h2>Parol muvaffaqiyatli almashtirildi!</h2>
                <p>Siz yangi parol bilan tizimga kirishingiz mumkin.</p>
                <a href="{% url 'home_page' %}" class="btn btn-theme">Bosh sahifaga qaytish</a>
                <a href="{% url 'profile' %}" class="btn default-btn">Profilga qaytish</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}